// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body{
	font-family: 'Roboto', sans-serif;
}

.bg-black {
	background-color: $black;
}

.bg-aqua {
	background-color: $aqua;
}


//header and nav
.header-logo {
	width: 300px;
	height: auto;
	margin: 15px 20px;
}

#main-nav {
	float: right;
	margin-top: 15px;
}

#main-nav a{
	color: $white;
	text-transform: uppercase;
	font-size: 1.1rem;
	display: inline-block;
	text-align: center;
	width: 160px;
}


//home

//PRIMARY
#home-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  border-top: 16px solid $gold;
  border-bottom: 16px solid $gold;
  position: relative;
}

#home-hero  {
	color: #fff;
}

#home-hero h1 {	
	font-size: 3rem;
	display: inline-block;
	background-color: rgba(0,0,0,.7);
	line-height: 2.8rem;
	padding: 10px 30px 10px 30px;
	margin: 0;
}

#home-hero p {	
	display: block;
	background-color: rgba(0,0,0,.7);
	padding: 30px;
	margin: 20px 0;
}

//SECONDARY

#secondary {
	padding-top: 40px;
	background-color: $light-gray;
}

#secondary .col-md-6 {
	height: 400px;
}

.secondary-message {
	height: 100%;
	width: 100%;
	display: block;
	color: $white;
	padding: 60px;
}

.secondary-message h2 {
	font-size: 3rem;
}

#secondary img {
	object-fit: cover;
	height: 100%;
}

//buttons 

.btn {
	border-radius: 0;
	text-align: center;
	padding: 10px 15px;
	width: 140px;
	margin-right: 40px;
}

.btn-gold {
	background-color: $gold;
	color: $black;
}