// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #979797; // Thats a sample how you could change a BootStrap variable.



//VCU BRAND COLORS
$gold: #F8B300;
$black: #000;
$white: #fff;
$dark-gray: #333333; 
$med-gray: #444444;
$light-gray: #555555;

$blue: #006894;
$purple: #80225f;
$green: #007E00;
$orange: #d43900;



$aqua: #05a6af;
$brown: rgb(133,104,34);
$white: #fff;
$red: #d80000;
$darkred: #b50000;
$lightblue: #007EB5;
$darkblue: #011d9a;
$pink: #DF0B73;
